@import '../libs/bootstrap/stylus/init.styl'

/* Media queries, para projetos responsivos */
/* Telas pequenas (Até 767px ou todas caso não tenha uma regra para sobreescrever) */
@import 'xs/**/*'

/* Telas pequenas (768px até 991px) */
@media (min-width: $screen-sm-min)
  @import 'sm/**/*'

/* Telas médias (992px até 1199px) */
@media (min-width: $screen-md-min)
  @import 'md/**/*'

/* Telas Grandes (1200px pra cima) */
@media (min-width: $screen-lg-min)
  @import 'lg/**/*'
