footer.footer
  ul.nav.justify-content-center.footer__nav
    li.nav-item
      a.nav-link(href='#') Getting Start
    li.nav-item
      a.nav-link(href='#') Documentation
    li.nav-item
      a.nav-link(href='#') Source
    li.nav-item
      a.nav-link(href='#') Issues
  .made
    p Made with ❤️ by <a href="https://github.com/mocallu">Mocallu</a>