$colors = {
  primary: #6ea3ff,
  secondary: #454c66
}

$body = {
  colors: {
    background: #f5f6f8,
    text: #9c9fa7,
  }
};

$page = {
  colors: {
    background: #fff,
    title: $colors.secondary
  }
};

$box = {
  colors: {
    background: #fff,
    title: #373f58
  }
};