doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='generator' content=pkg.name+' '+pkg.version)
    meta(name='description' content='Calícula, an open source frontend kickstart')
    title Calígula - Kickstart
    link(rel='shortcut icon' href='/images/favicon.ico')
    link(rel='stylesheet' href='css/init.css')
    script(src='js/init.min.js')
    body
      .container
        .row
          .page
            h1 Olá!
            h3 Você está rodando Calígula #{pkg.version}